<os-panel-group>
  <ng-container class="content">
    <os-panel [isFirstPanel]="true">
      <div class="panel-title">Vertical</div>
      <os-radio-buttons [items]="values"></os-radio-buttons>

      <div class="panel-divider"></div>

      <div class="panel-title">Horizontal</div>
      <os-radio-buttons [items]="values" [horizontal]="true"></os-radio-buttons>
    </os-panel>

    <os-panel>
      <div class="panel-title">Reactive Forms Support</div>
      <os-radio-buttons [items]="values" [formControl]="formControl"></os-radio-buttons>

      <p class="mat-body">Form Control Value: <em>{{ formControl.value }}</em></p>

    </os-panel>
  </ng-container>
  <div class="footer">
    <button mat-stroked-button>Test</button>
  </div>

</os-panel-group>
