<os-panel [isFirstPanel]="true">
  <div class="panel-title">Vertical</div>
  <os-radio-buttons class="body" [items]="values"></os-radio-buttons>
</os-panel>

<os-panel [isRelatedPanel]="true">
  <div class="panel-title">Horizontal</div>
  <os-radio-buttons class="body" [items]="values" [horizontal]="true"></os-radio-buttons>
</os-panel>

<os-panel>
  <div class="panel-title">Reactive Forms Support</div>
  <os-radio-buttons [items]="values" [formControl]="formControl"></os-radio-buttons>

  <p class="mat-body">Form Control Value: <em>{{ formControl.value }}</em></p>

</os-panel>
