$color-white: #FFFFFF;
$color-super-light-grey: #F9F9F9;
$color-light-grey: #F0F0F0;
$color-medium-grey: #CCCCCC;
$color-grey: #999999;
$color-dark-grey: #666666;
$color-grey-black: #333333;
$color-black: #000000;

$color-light-blue: #EEF9FD;
$color-blue: #1685B7;
$color-dark-blue: #126B92;

$color-light-green: #E3F1DC;
$color-green: #008000;

$color-light-red: #FEE0DE;
$color-red: #D90000;

$color-yellow: #FFE8A0;
$color-orange: #F66400;
