<button os-default-button (click)="buttonClicked('default')">Default</button>

<button os-primary-button (click)="buttonClicked('primary')">Primary</button>

<button os-link-button (click)="buttonClicked('link')">Link</button>

<button os-icon-button (click)="buttonClicked('icon')"><i class="fas fa-ambulance"></i></button>

<br>

<button os-default-button [disabled]="true">Default</button>

<button os-primary-button [disabled]="true">Primary</button>

<button os-link-button [disabled]="true">Link</button>

<button os-icon-button [disabled]="true"><i class="fas fa-ambulance"></i></button>
