mat-radio-group {
  display: flex;
  flex-direction: column;
  &.horizontal {
    flex-direction: row;
    flex-wrap: wrap;
    mat-radio-button {
      &:not(:last-of-type) {
        margin: 0 10px 10px 0;
      }
    }
  }
  &:not(.horizontal) mat-radio-button:not(:last-of-type) {
    margin: 0 10px 10px 0;
  }
}
