<mat-toolbar>ALV Online Services - Components Library Showcase</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [mode]="'side'" [opened]="true">
    <mat-nav-list class="navigation">
      <a mat-list-item
         *ngFor="let menuEntry of menuEntries"
         [routerLink]="menuEntry.path"
         routerLinkActive="active">
        <i class="fas fa-{{menuEntry.icon}} list-icon"></i>
        {{menuEntry.label}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
