@import "../../../../colors";
.panel-group-content {
  border-left: 5px solid $color-blue;
}
.panel-group-footer {
  margin: 10px 0 0 5px;
}
::ng-deep .panel-divider {
  border-top: 1px solid $color-grey;
  margin: 1em 0;
}

.arrow-container {
  width: 100%;
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 18px solid $color-grey;
    margin: auto;
    &.related {
      border-top-color: $color-blue;
    }
  }
}
