<mat-form-field color="accent">
  <mat-label>{{name}}</mat-label>
  <input
    matInput
    [formControl]="dateControl"
    [matDatepicker]="datePicker"
    (dateInput)="updateDate($event)"
    id="dateInput">
  <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
  <mat-datepicker #datePicker></mat-datepicker>
  <mat-error *ngIf="dateControl.hasError('required')" id="dateError">
    <mat-label>
      <mat-icon fontSet="fa" fontIcon="fa-exclamation-circle"></mat-icon>
      {{requiredMsg}}
    </mat-label>
  </mat-error>
</mat-form-field>
